#menuBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  border-bottom: 2px solid gray;
  padding-bottom: 4px;
}

#search {
  border-radius: 14px;
  text-align: center;
  flex-shrink: 1;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.menu-item {
  padding: 10px;
  border-style: solid;
  border-radius: 8px;
  border-color: gray;
  flex-grow: 1;
}

.menu-item > img {
  width: 75%;
  padding-top: 8px;
  
}
