#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  border-bottom: 2px solid gray;
  padding-bottom: 4px;
}

#name {
  font-weight: bold;
  font-size: x-large;
}
#search {
  border-radius: 14px;
  text-align: center;
  flex-shrink: 1;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu-item {
  padding: 10px;
  border-style: solid;
  border-radius: 8px;
  border-color: gray;
  flex-grow: 1;
  width: 150px;
  margin: 12px;
}

.foodImg {
  width: 100%;
  padding-top: 8px;
}

.cart-button {
    background-image: "https://pngimg.com/uploads/shopping_cart/shopping_cart_PNG37.png";
}
