:root {
  --main-salmon: #e76f51;
  --dark-blue: #023047;
  --light-blue: #219ebc;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4px;
  background-color: var(--dark-blue);
  color: white;
  padding: 4px 8px;
}

#navbar-links {
  display: flex;
  justify-content: space-around;
  flex-grow: 2;
  max-width: 500px;
  align-items: center;
}

.link {
  padding-bottom: 2px;
  border-bottom: 1px solid gray;
}

.link:hover {
  cursor: pointer;
}

#hamburger {
  display: none;
  width: fit-content;
  fill: var(--light-blue);
}

#name {
  font-weight: bold;
  font-size: x-large;
}

#search {
  border-radius: 14px;
  text-align: center;
  flex-shrink: 2;
  margin-left: auto;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--main-salmon);
}

.item {
  padding: 10px;
  border-style: solid;
  border-radius: 8px;
  border-color: gray;
  flex-grow: 1;
  margin: 12px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-name {
  font-weight: bold;
  font-size: large;
}

.item-img {
  width: 100%;
  padding-top: 8px;
}

.cart-button {
  width: 100%;
  background-color: var(--dark-blue);
  border-radius: 16px;

  color: white;
  font-size: large;
}

.cart-button:hover {
  background-color: var(--light-blue);
}

@media only screen and (min-width: 600px) {
  .item {
    flex: 1 1 40%;
  }
}

@media only screen and (max-width: 600px) {
  #navbar-links {
    display: none;
  }

  #hamburger {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .item {
    flex: 1 1 25%;
  }
}
