:root {
  --main-salmon: #e76f51;
  --dark-blue: #023047;
  --light-blue: #219ebc;
}

body {
  background-color: #2b2d42;
  font-family: "Open Sans";
  color: white;
}

#parent {
  padding: 1rem
}

#topbar {
  display: flex;
  justify-content: space-between;
}

#todo-input {
  
}

#todo-list {
  padding-bottom: 1rem;
}

.todo-item {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

#tips {
  width: 30vw;
  list-style: disc;
  
}