:root {
  --main-salmon: #e76f51;
  --dark-blue: #023047;
  --light-blue: #219ebc;
}

body {
  background-color: #2b2d42;
  font-family: "Open Sans";
  color: white;
}

#parent {
  padding: 1rem
}

#todo-input {
  padding-bottom: 1rem;
}

#todo-list {
  padding-bottom: 1rem;
}

.todo-item {
  padding-bottom: 1rem;
}